@use "../../styles/global" as *;

//Component container--------------------
.used_icons_circles {
  display: grid;
  grid-auto-flow: column;

  //Circle overlap
  &_circle {
    height: clamp(18px, 2vw, 24px);
    aspect-ratio: 1;
    border: 2px solid var(--secondary_font);
    background-color: var(--card);
    border-radius: 100%;
    margin-left: -5px;
    color: var(--secondary_font);
    font-size: clamp(10px, 1vw, 12px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      height: 20px;
      font-size: 8px;
    }
    &:first-child {
      margin-left: 0px; //The first element in the grid doesnt overlap anything
    }
  }
}


//Color selector------------------------------
.used_icons_circles_circle.red {
  border: 2px solid #ff6860;
}
.used_icons_circles_circle.green {
  border: 2px solid #4ac29d;
}
.used_icons_circles_circle.yellow {
  border: 2px solid #ff9f00;
}
