@use "../../styles/global" as *;

.used_icons_circles {
  display: grid;
  grid-auto-flow: column;

  &_circle {
        height: clamp(18px, 2vw, 24px);;
        aspect-ratio: 1;
        border: 2px solid var(--secondary_font);
        background-color: white;
        border-radius: 100%;
        margin-left: -5px;
        
      font-size: clamp(10px, 1vw, 12px);
        display: flex;
        align-items: center;
        justify-content: center;

    &:first-child {
      margin-left: 0px;
    }
  }
}

.used_icons_circles_circle.red {
  border: 2px solid #ff6860;
}
.used_icons_circles_circle.green {
  border: 2px solid #4AC29D;
}
.used_icons_circles_circle.yellow {
  border: 2px solid #FF9F00;
}