@use "../../styles/global" as *;

.recent {
  flex: 1 1 auto;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--section);
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  scrollbar-color: var(--secondary_font) var(--section);
  scrollbar-width: thin;

  @media (max-width: 434px) {
    padding-top: 0;
  }

  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font);

    p {
      font-size: clamp(12px, 1vw, 16px);
    }

    h1 {
      font-size: clamp(20px, 2vw - 1rem, 32px);
      font-weight: 400;
    }

    &_icons {
      display: flex;
      gap: 10px;
      font-size: 20px;
    }

    &_icon {
      color: var(--secondary_font);
    }
  }

  &_used {
    display: flex;
    gap: 1rem;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }

    @media (max-width: 434px) {
      flex-direction: column;
    }
  }

  &_files {
    display: grid;
    gap: 16px;
    color: var(--secondary_font);

    &_header {
      display: grid;
      grid-template-columns: 50% 23% 23% 4%;

      font-size: clamp(12px, 1vw, 16px);

      @media (max-width: 1000px) {
        grid-template-columns: 45% 25% 25% 10%;
      }
    }
  }
}
