@use "../../styles/global" as *;

.shared {
  width: clamp(157px, 30%, 270px);
  aspect-ratio: 2/1;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(58, 58, 58, 0.07);
  padding: 12px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 64px;

    &_square {
      background-color: var(--primary);
      width: clamp(35px, 3vw, 50px);
      aspect-ratio: 1.13 / 1;
    }

    &_circles {
      display: grid;
      grid-auto-flow: column;

      &_circle {
        width: 24px;
        height: 24px;
        border: 1px solid var(--secondary_font);
        background-color: white;
        border-radius: 100%;
        margin-left: -5px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }

  &_data {
    display: grid;
    h1 {
      font-size: 20px;
      font-weight: 400;
      color: var(--font);
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: var(--secondary_font);
    }
  }
}
