@use "../../styles/global" as *;

.shared {
  width: clamp(157px, 30%, 270px);
  aspect-ratio: 2/1;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(58, 58, 58, 0.07);
  padding: 12px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1000px) {
    width: 100%;
    height: 70px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 16px 16px;
  }

  &_icons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: clamp(32px, 3vw, 64px);
    @media (max-width: 1000px) {
      flex-direction: row-reverse;
      width: auto;
      gap: 10px;
    }
    &_square {
      background-color: var(--primary);
      width: clamp(35px, 3vw, 50px);
      aspect-ratio: 1.13 / 1;
    }
  }

  &_data {
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
      height: 100%;
      justify-content: center;
      gap: 8px;
    }

    h1 {
      font-size: clamp(12px, 2vw - 0.5rem, 20px);
      font-weight: 400;
      color: var(--font);

      @media (max-width: 1000px) {
        font-size: 16px;
      }
    }
    p {
      font-size: clamp(8px, 1vw, 16px);
      font-weight: 400;
      color: var(--secondary_font);

           @media (max-width: 1000px) {
        font-size: 12px;
      }
    }
  }
}
