@use "../../styles/global" as *;

.storage {
  width: clamp(252px, 25%, 375px);
  height: 100%;
  background-color: var(--section);

  &_header {
    display: flex;
    height: clamp(42px, 15%, 80px);
    border-bottom: 1px solid var(--font);
    padding: 32px 36px;
    justify-content: space-between;

    &_options {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
    }

    &_avatar {
      display: flex;
      align-items: center;
      gap: 10px;

      &_icon {
        font-size: 31px;
      }
    }
  }

  &_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 24px 36px;
    gap: 24px;

    &_title{
      font-weight: 400;
      color: var(--font);
      font-size: 24px
    }

    &_chart {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      justify-content: center;

      &_label {
        font-weight: 400;
        font-size: 14px;
        color: var(--secondary_font);
      }
    }
  }
}
